@model WebRaoVat.Models.Brand

@{
    ViewBag.Title = "Delete Brand";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="col-6" style="text-align: center; padding: 15px; font-size: 18pt;">
        <h2 class="title-page">Delete Brand: <br />@Model.brand_id?</h2>
        <div>
            @Html.DisplayFor(model => model.brand1)
        </div>
        <div>
            <img src="@Model.logo" style="width: 100px; object-fit: contain;" />
        </div>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <a href="@Url.Action("ManageBrands","Admin")" class="admin-btn-no">&#8678 Manage page</a>
            <input type="submit" value="Delete!" class="admin-btn" style="float:none;" />
        }
    </div>
</div>
