@using WebRaoVat.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Atribute>
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Manage Atribute";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title-page">Manage Atribute</h2>
<div class="btn btn-info" onclick="document.location.href = '@Url.Action("CreateAtribute","Admin")'">Create new atribute</div>
<br />
<br />
@using (Html.BeginForm("ManageAtribute", "Admin", FormMethod.Get))
{
    <p>
        Find by atribute name or category: @Html.TextBox("searchStr", ViewBag.CurrentFilter as string, new { @class = "my-search", @placeholder = "input atributename or main category" })
    </p>
    <input type="submit" value="Search" class="my-action-admin" />
}
<table class="table">
    <tr class="thead-ne">
        <th>
            <p>Atribute <b class="sort-icon" onclick="document.location.href = '@Url.Action("ManageAtribute","Admin", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter})'">&#8645</b></p>
        </th>
        <th>
            <p>Main Category</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="row-item">
            <td>
                @Html.DisplayFor(modelItem => item.atribute_name)
            </td>
            <td onclick="window.location.href = '@Url.Action("ManageAtribute", "Admin", new { sortOrder = ViewBag.CurrentSort,  searchStr = item.Category.category1})'">
                @Html.DisplayFor(modelItem => item.Category.category1)
            </td>
            <td>
                <a href="@Url.Action("EditAtribute","Admin", new { id = item.atribute_id })" class="edit-del"><img src="~/Content/Images/icon/edit.png" class="my-icon" /> </a>
                <a href="@Url.Action("DeleteAtribute","Admin", new { id = item.atribute_id })" class="edit-del"><img src="~/Content/Images/icon/delete.png" class="my-icon" /></a>
            </td>
        </tr>
    }

</table>
<div class="page" style="display: inline;">
    Page: @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ManageAtribute", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>