@using WebRaoVat.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Category>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Manage Main Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title-page">Manage main Categories</h2>
<div class="btn btn-info" onclick="document.location.href = '@Url.Action("CreateCategory","Admin")'">Create new main category</div>
<br />
<br />
<table class="table">
    <tr class="thead-ne">
        <th>
            <p>Main Category <b class="sort-icon" onclick="document.location.href = '@Url.Action("ManageCategories","Admin", new { sortOrder = ViewBag.NameSort })'">&#8645</b></p>
        </th>
        <th>
            <p>Image</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="window.location.href = '@Url.Action("Manage2ndCate","Admin", new { idcate = item.category_id})'" class="row-item">
            <td>
                @Html.DisplayFor(modelItem => item.category1)
            </td>
            <td>
                <img src="@item.image" width="80" height="80" style="object-fit: contain;" />
            </td>
            <td>
                <a href="@Url.Action("EditCategory","Admin", new { id = item.category_id })" class="edit-del"><img src="~/Content/Images/icon/edit.png" class="my-icon" /> </a>
                <a href="@Url.Action("DeleteCategory","Admin", new { id = item.category_id })" class="edit-del"><img src="~/Content/Images/icon/delete.png" class="my-icon" /></a>
            </td>
        </tr>
    }

</table>
<div class="page" style="display: inline;">
    Page: @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ManageCategories", new { page, sortOrder = ViewBag.CurrentSort }))
</div>